@use 'styles/breakpoints';

.messagesScrollWrapper {
  padding: 0 24px;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;

  @include breakpoints.smaller-than-xs {
    padding: 0 16px;
  }

  .messagesArea {
    margin: 0 auto;
    max-width: 768px;
    width: 100%;
    padding: 0;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
  }

  .spacer {
    height: 24px;
  }
}