@use 'styles/breakpoints';

.mainArea {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    flex: 1;
    display: flex;
    flex-direction: column;

    @include breakpoints.smaller-than-lg {
        transition: none;
    }
}

.mainAreaExpended {
    margin-left: -260px;

    @include breakpoints.smaller-than-lg {
        margin-left: 0;
    }
}